<!-- As a heading -->
<nav class="navbar navbar-light bg-light shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-start fw-bolder" href="#header">Nama Web</a>
    <div class="justify-content-center">
      <a class="navbar-brand" href="">Home</a>
      <a class="navbar-brand" href="">FAQ</a>
      <a class="navbar-brand" href="">Events</a>
      <a class="navbar-brand" href="">About Us</a>
    </div>
    <a class="navbar-brand justify-content-end">
      <button type="button" class="btn" style="border-color: #7940cc; color: #7940cc" data-bs-toggle="modal" data-bs-target="#exampleModal">Masuk</button>
      <button type="button" class="btn text-white" style="background-color: #7940cc" data-bs-toggle="modal" data-bs-target="#exampleModal2">Daftar</button>
    </a>
  </div>
</nav>
