PORT=3000

DB_USERNAME=postgres
DB_DATABASE=binar2
DB_PASSWORD=123
DB_HOST=127.0.0.1
DB_DIALECT=postgres

SESSION_SECRET=VLr0QXQcB47dPnFe6lhao2pNQYWra74s

CLIENT_ID=96360628817-nqna18afqm6qbebtvl0b5739tmqp5rtb.apps.googleusercontent.com
CLIENT_SECRET=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
CALLBACK_URL=http://localhost:3000/login/google/callback