@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Defaul css */
/* Button*/
.btn-purple {
  background-color: #7940CC !important;
}
.btn-purple:hover {
  background-color: #653EB2 !important;
}
.btn-purple:active {
  box-shadow: 0 0 0 0.25rem rgba(121, 64, 204, 0.2) !important;
  border-color: #7940CC !important;
  background-color: #3C286B !important;
}
.btn-purple:focus {
  box-shadow: none;
  border-color: #7940CC !important;
  background-color: #3C286B !important;
}
/* Button Outline Purple*/
.btn-outline-purple {
  background-color: #FFFF !important;
  border-color: #653EB2 !important;
}
.btn-outline-purple:hover {
  border-color: #7940CC !important;
}
.btn-outline-purple:active {
  box-shadow: 0 0 0 0.25rem rgba(121, 64, 204, 0.2) !important;
}
.btn-outline-purple:focus {
  border-color: #3C286B !important;
  color: #3C286B !important;
  box-shadow: none;
}

/* Input Outline */
.input-outline-purple:active,
.input-outline-purple:focus {
  box-shadow: 0 0 0 0.25rem #E8D1F9 !important;
  border-color: #7940CC !important;
}

/* Background*/
.bg-purple-main {
  background-color: #7940CC !important;
}
.bg-purple-surface {
  background-color: #E8D1F9 !important;
}
.bg-purple-border {
  background-color: #D2C3EE !important;
}
.bg-purple-hover {
  background-color: #653EB2 !important;
}
.bg-purple-pressed {
  background-color: #3C286B !important;
}
.bg-purple-focused {
  background-color:  rgba(121, 64, 204, 0.2) !important;
}
/* Bg Neutral */
.bg-neutral-10 {
  background-color: #FFFFFF !important;
}
.bg-neutral-20 {
  background-color: #F5F5F5 !important;
}
.bg-neutral-30 {
  background-color: #EDEDED !important;
}
.bg-neutral-40 {
  background-color: #E0E0E0 !important;
}
.bg-neutral-50 {
  background-color: #C2C2C2 !important;
}
.bg-neutral-60 {
  background-color: #9E9E9E !important;
}
.bg-neutral-70 {
  background-color: #757575 !important;
}
.bg-neutral-80 {
  background-color: #616161 !important;
}
.bg-neutral-90 {
  background-color: #404040 !important;
}
.bg-neutral-100 {
  background-color: #0A0A0A !important;
}

/* Border */
.border-purple-main {
  border-color: #7940CC !important;
}
.border-purple-surface {
  border-color: #E8D1F9 !important;
}
.border-purple-border {
  border-color: #D2C3EE !important;
}
.border-purple-hover {
  border-color: #653EB2 !important;
}
.border-purple-pressed {
  border-color: #3C286B !important;
}
.border-purple-focused {
  border-color:  rgba(121, 64, 204, 0.2) !important;
}

/* Border Neutral */
.border-neutral-10 {
  border-color: #FFFFFF !important;
}
.border-neutral-20 {
  border-color: #F5F5F5 !important;
}
.border-neutral-30 {
  border-color: #EDEDED !important;
}
.border-neutral-40 {
  border-color: #E0E0E0 !important;
}
.border-neutral-50 {
  border-color: #C2C2C2 !important;
}
.border-neutral-60 {
  border-color: #9E9E9E !important;
}
.border-neutral-70 {
  border-color: #757575 !important;
}
.border-neutral-80 {
  border-color: #616161 !important;
}
.border-text-neutral-90 {
  border-color: #404040 !important;
}
.border-neutral-100 {
  border-color: #0A0A0A !important;
}

/* Shadow Default */
.shadow-default {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25) !important;
}

/* Font Size */
.fs-48 {
  font-size: 48px;
}
.fs-36 {
  font-size: 36px;
}
.fs-24 {
  font-size: 24px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/* Text-color */
.text-purple-main {
  color: #7940CC !important;
}
.text-purple-surface {
  color: #E8D1F9 !important;
}
.text-purple-border {
  color: #D2C3EE !important;
}
.text-purple-hover {
  color: #653EB2 !important;
}
.text-purple-pressed {
  color: #3C286B !important;
}
.text-purple-focused {
  color:  rgba(121, 64, 204, 0.2) !important;
}
/* Text Neutral */
.text-neutral-10 {
  color: #FFFFFF !important;
}
.text-neutral-20 {
  color: #F5F5F5 !important;
}
.text-neutral-30 {
  color: #EDEDED !important;
}
.text-neutral-40 {
  color: #E0E0E0 !important;
}
.text-neutral-50 {
  color: #C2C2C2 !important;
}
.text-neutral-60 {
  color: #9E9E9E !important;
}
.text-neutral-70 {
  color: #757575 !important;
}
.text-neutral-80 {
  color: #616161 !important;
}
.text-neutral-90 {
  color: #404040 !important;
}
.text-neutral-100 {
  color: #0A0A0A !important;
}
.cursor-pointer{
  cursor: pointer;
}

/* CSS Faisal */
#our-client .container {
  padding: 100px 0;
}
#our-client .title {
  margin-bottom: 48px;
  font-weight: 600;
}
#why-choose-us .icon-wcu {
  padding: 22px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}
#why-choose-us .container {
  padding: 142px 109px;
}
#why-choose-us .title {
  margin-bottom: 16px;
  font-weight: 600;
}
#why-choose-us .title-paragraph {
  margin-bottom: 100px;
  max-width: 890px;
}
#why-choose-us .icon-wcu-title {
  font-weight: 600;
  max-width: 324px;
  margin-bottom: 16px;
}
#why-choose-us .icon-wcu-paragraph {
  max-width: 324px;
}
#why-choose-us .bg-wcu-1{
  position: absolute;
  top: 0;
  right: 0;
}
#why-choose-us .bg-wcu-2{
  position: absolute;
  bottom: 0;
  left: 0;
}
#why-choose-us {
  position: relative;
}