<a href="https://api.whatsapp.com/send?phone=6282213375776&text=Halo%20EO,%20Saya%20menemukkan%20kontak%20Anda%20dari%20website." 
                         target="_blank"  class="text-decoration-none" id="btn-whatsapp">
    <img class="position-fixed bottom-0 end-0 pb-4 me-4" src="/images/default/logo_whatsapp.svg"/>
</a>