<!-- template buat di halaman confirm reset password -->
<!-- di sini memakai fetch, karena perlu replace current url ditambah dengan api/v1/users untuk post request ke backend -->
<form id="resetPasswordForm">
  <label for="password">New Password</label>
  <input type="password" name="password" id="password" autocomplete="off" />
  <label for="confirmPassword">Confirm Password</label>
  <input
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    autocomplete="off"
  />
  <button id="resetPasswordButton" type="submit">send</button>
</form>
<script>
  const resetPasswordForm = document.getElementById('resetPasswordForm');
  const pwd = document.getElementById('password');
  const confirmPwd = document.getElementById('confirmPassword');
  const button = document.getElementById('resetPasswordButton');

  resetPasswordForm.addEventListener('submit', function (event) {
    event.preventDefault();
    const url = document.location.href;

    // split url untuk menyisipkan api/v1/users/confirm
    const resetPasswordUrl = new URL(
      url.split('confirm').join('api/v1/users/confirm')
    );

    if (pwd.value !== confirmPwd.value) {
      console.log('password does not match');
      return;
    }

    const data = {
      password: pwd.value,
      confirmPassword: confirmPwd.value,
    };

    fetch(resetPasswordUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then((res) => {
        console.log(res);
        return res.json();
      })
      .then((data) => {
        console.log(data);
      })
      .catch((err) => {
        console.log(err);
      });
  });
</script>
