<section id="faq" style="padding-bottom: 110px;">
      <div class=" pt-5 position-relative">
        <div class="container col-sm-8">
         <h1 class="fs-24 text-center mt-3 mb-5">Pertanyaan yang sering diajukan</h1>
         <div class="accordion " id="accordionSection">
             <div class="accordion-item mb-3">
                 <h2 class="accordion-header">
                     <button type="button" class="accordion-button collapsed bg-white text-dark " data-bs-toggle="collapse" data-bs-target="#collapseOne">Apakah boleh jika ingin mengajukan tema lain?</button></h2>
                 <div class="accordion-collapse collapse" id="collapseOne" data-bs-parent="#accordionSection">
                     <div class="accordion-body">
                       Tentu boleh. Sebagai penyedia jasa event organizer yang berpengalaman, kreatif, dan inovatif, kami mampu memberikan penyempurnaan konsep dasar yang kamu inginkan. Sampaikan ide yang kamu inginkan untuk acaramu melalui 
                       <span><a href="https://api.whatsapp.com/send?phone=6282213375776&text=Halo%20EO,%20Saya%20menemukkan%20kontak%20Anda%20dari%20website." 
                         target="_blank"  class="text-decoration-none" style="color: #7940cc;">Whatsapp.</a></span>
                     </div> 
                 </div>
             </div>
             
             <div class="accordion-item  mb-3">
                 <h2 class="accordion-header">
                     <button type="button" class="accordion-button collapsed bg-white text-dark" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Seberapa awal kita perlu mulai merencanakan sebuah acara?</button></h2>
                 <div class="accordion-collapse collapse" id="collapseTwo" data-bs-parent="#accordionSection">
                     <div class="accordion-body">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                     </div>
                 </div>
             </div>

             <div class="accordion-item mb-3">
               <h2 class="accordion-header">
                   <button type="button" class="accordion-button collapsed bg-white text-dark " data-bs-toggle="collapse" data-bs-target="#collapseThree">Bisakah mengatasi perubahan rencana atau situasi darurat di menit-menit terakhir?</button></h2>
               <div class="accordion-collapse collapse" id="collapseThree" data-bs-parent="#accordionSection">
                   <div class="accordion-body">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </div>
               </div>
           </div>
           
           <div class="accordion-item  mb-3">
               <h2 class="accordion-header">
                   <button type="button" class="accordion-button collapsed bg-white text-dark" data-bs-toggle="collapse" data-bs-target="#collapseFour">SMetode pembayaran apa saja yang disediakan?</button></h2>
               <div class="accordion-collapse collapse" id="collapseFour" data-bs-parent="#accordionSection">
                   <div class="accordion-body">
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </div>
               </div>
           </div>

           <div class="accordion-item mb-3">
             <h2 class="accordion-header">
                 <button type="button" class="accordion-button collapsed bg-white text-dark " data-bs-toggle="collapse" data-bs-target="#collapseFive">Bagaimana sistem pembatalan pesanan dan pengembalian dana?</button></h2>
             <div class="accordion-collapse collapse" id="collapseFive" data-bs-parent="#accordionSection">
                 <div class="accordion-body">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 </div>
             </div>
         </div>
         
         </div>
         <div class="text-center mt-3 mb-3">
           <h1 class="fs-24 mb-3 pt-5 mt-4">Masih ada pertanyaan?</h1>
           <p class="fs-16 pb-2 faq-text">Apabila kamu tidak menemukan jawaban yang kamu butuhkan di FAQ, <br>
             kamu dapat menghubungi kami segera.</p>
             <a href="https://api.whatsapp.com/send?phone=6282213375776&text=Halo%20EO,%20Saya%20menemukkan%20kontak%20Anda%20dari%20website." target="_blank" type="button" class="btn btn-purple text-white" >Hubungi via Whatsapp</a>
         </div>
        </div>

       <!-- ini bagian bulet -->
       <div class="faq-shapes"> 
         <div class="faq-Sphere-kecil">
           <img src="/images/default/Sphere_a1_kecil.svg">
         </div>
         <div class="faq-Meliuk-liuk">
           <img src="/images/default/Meliuk-liuk.svg">
         </div>
         <div class="faq-Sphere-a1">
            <img src="/images/default/Sphere_a1.svg">
          </div>

          <div class="faq-Meliuk-liuk_b1">
            <img src="/images/default/Meliuk-liuk_b1.svg">
          </div>
          <div class="faq-Sphere-kecil-b1">
            <img src="/images/default/Sphere_b1_kecil.svg">
          </div>
          <div class="faq-Sphere-b1">
             <img src="/images/default/Sphere_b1.svg">
           </div> 
        </div>
      </div>
  </section>