<div id="footerOrder">
  <div class="text-center position-relative">
    <img src="/images/default/logo-brand.svg" class="mb-3 pt-5 mt-4 footer-brand" />
    <p class="fs-16 pb-4">Every company story is impressive, but yours should be unique.</p>
    <div class="footer-icon mt-4 mb-5">
      <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24" href="https://twitter.com/home"><i class="bi bi-twitter"></i></a>
      <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
      <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
      <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="position-absolute bottom-0 text-center w-100 mb-3">
      <p class="text-neutral-10">&copy; 2022 Halloween. All Rights Reserved</p>
    </div>
    <img src="/images/default/imgFooter.png" class="w-100 mt-5" alt="" />
  </div>
</div>
