<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>

  <body>
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main>
      <p class="mt-5">test</p>
       <!-- bry taruh sini -->
       <!-- faisal taruh sini -->
       <!-- steven taruh sini -->
       <!-- kusno taruh sini -->
    </main>
    <footer>
      <!-- Ari taruh sini -->
    </footer>

    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
