<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title " id="exampleModalLabel ">Masuk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/login" method="post"class="needs-validation <%= error.length!==0?'was-validated':''%>" novalidate>
                <div class="row justify-content-center ">
                <div class="md-5">
                    <div class="mb-2">
                    <label for="email" class="form-label" >Email </label>
                    <input required type="email" class="form-control rounded-3 border-2" id="email" aria-describedby="email" name="email" placeholder="Email"/>
                    <div id="passwordHelpBlock" class="form-text">
                        Contoh:nama@gmail.com
                    </div>
                    <div class="invalid-feedback">
                      <%= error[0]?.email || "Email tidak boleh kosong!" %> 
                    </div>
                    </div>
                    <div class="input-container mb-2">
                    <label for="password" class="form-label" >Password</label>   
                    <input required type="password" class="form-control rounded-3 border-2" id="password" aria-describedby="password" name="password" placeholder="Password" />     
                    <i class="material-icons visibility" id="material">visibility_off</i>
                    <div class="invalid-feedback">
                      <%= error[0]?.password || "Password tidak boleh kosong!" %> 
                    </div>
                  </div >
                    <div class="text-end mb-3 mt-3" >
                    <a href="/request-reset-password" style="color: #7940cc;">Lupa password?</a>
                </div>
                    <div class="d-grid gap-2 ">
                    <button  class="btn text-white" style="background-color: #7940cc" type="submit">Masuk</button>
                    <div class="text-center mb-2 mt-2">Belum memiliki akun?<a href="#exampleModal2" class="link" style="color: #7940cc;">Daftar</a></div>  
                    <span class="border-top"></span>
                    <a href="login/google" class="btn border border-1 fw-bolder mb-2 mt-2 " style="background-color: #F6F6F6;" type="button"> <img src="/images/icons8-google 1.png" alt="google">&nbsp; Masuk dengan Google</a>
                    <span class="border-top mb-3"></span>
                    </div>
                </div>
          </div>
     </form>
     <%- include('../partials/validate.ejs') %>
    </div>
  </div>
</div>
</div>
