<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title " id="exampleModalLabel ">Masuk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row justify-content-center ">
                <div class="md-5">
                    <div class="mb-2">
                    <label for="email" class="form-label" >Email </label>
                    <input type="email" class="form-control rounded-3 border-2" id="email" aria-describedby="email" name="email" placeholder="Email"/>
                    <div id="passwordHelpBlock" class="form-text">
                        Contoh:nama@gmail.com
                    </div>
                    </div>
                    <div class="mb-2">
                    <label for="password" class="form-label" >password</label>            
                    <input type="text" class="form-control rounded-3 border-2" id="password" aria-describedby="password" name="password" placeholder="Password" />     
                    </div >
                    <div class="text-end mb-3 mt-3" >
                    <a href="#" style="color: #7940cc;">Lupa password?</a>
                </div>
                    <div class="d-grid gap-2 ">
                    <button class="btn text-white" style="background-color: #7940cc" type="button">Masuk</button>
                    <div class="text-center mb-2 mt-2">Belum memiliki akun?<a href="#" class="link" style="color: #7940cc;">Daftar</a></div>  
                    <span class="border-top"></span>
                    <button class="btn border border-1 fw-bolder mb-2 mt-2 " style="background-color: #F6F6F6;" type="button"> <img src="/images/icons8-google 1.png" alt="google">&nbsp; Masuk dengan Google</button>
                    <span class="border-top mb-3"></span>
                    </div>
                </div>
                    </div>
     </form>
    </div>
  </div>
</body>
</html>
