<section id="maps">
    <div class="container-fluid text-center mt-3 mb-3">
        <h2 class="fs-36 title pt-5">Kunjungi kantor pusat kami</h2>
         <p class="fs-16 pb-2 faq-text">Jl. Jend. Sudirman No.49-51, Terban, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55223</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d599.7925753542893!2d110.3758234496245!3d-7.7828503752793186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5832ff7e6043%3A0x9a34ea6a7a6663c5!2sBank%20BCA%20KCU%20Yogyakarta!5e0!3m2!1sid!2sid!4v1646056919413!5m2!1sid!2sid" width="100%" height="500" style="border:0; position: static; left: 0px; top: 292px; flex: none; order: 1; flex-grow: 0; margin: 15px 0px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>
