<!DOCTYPE html>
<html lang="en">
  <html>
    <%- include('../partials/head.ejs', {title: 'Home'}) %>

    <body class="p-0" style="background-color: #e5e5e5">
      <header><%- include('../partials/navbar.ejs') %> <%- include('login')%></header>

      <main>
        <div class="container-1 position-absolute top-50 start-50 translate-middle border">
          <div class="container text-center">
            <h3 id="pay-info" class="info-pay">Informasi Pembayaran</h3>
          </div>
          <div class="value-pay">
            <h4 id="pay-total" class="total-pay">Total Pembayaran</h4>
            <p id="value-pay" class="value-pay-2">Rp27.600.000</p>
          </div>
          <div class="text-payment">
            <p id="text-pay" class="text-pay">Bayar pesanan sesuai jumlah diatas sebelum batas waktu terakhir. Pengecekan dilakukan dalam 24 jam setelah bukti transfer diupload.</p>
          </div>
          <div id="under-line" class="under-line"></div>
          <div class="info-payment">
            <div class="text-step-payment">
              <h4 id="info-pay" class="info-pay">Informasi Pembayaran</h4>
              <p id="text-step-1" class="text-step-1">1. Gunakan ATM / iBanking / mBanking / setor tunai untuk transfer ke rekening berikut ini:</p>
              <div class="mini-container">
                <div id="item-inside">
                  <img src="/img/bca.png" id="image-bca" class="rounded float-start" alt="logo-bca" />
                  <div id="text-mini-container" class="text-container d-table w-100">
                    <p id="number-rek" class="number-rek">
                      No. Rekening: 382371928<br />
                      Cabang: Buah Batu<br />
                      Nama Rekening: PT Halloween Indonesia
                    </p>
                    <div class="d-table-cell tar">
                      <button id="btn-bca" class="custom-btn btn-1"><p>Salin Nomor</p></button>
                    </div>
                  </div>
                </div>
              </div>
              <p id="text-step-2" class="text-step-2">2. Demi kenyamanan transaksi, mohon untuk tidak membagikan bukti atau konfirmasi pembayaran pesanan kepada siapapun, selain mengunggahnya via website NamaWeb</p>
              <p id="text-step-3" class="text-step-3">3. Silakan upload bukti transfer sebelum <a>02-03-2022</a> melalui form dibawah ini.</p>
            </div>
          </div>
        </div>

        <div class="container-2 mx-auto border">
          <div class="container text-center">
            <h3 id="pay-info" class="info-pay">Konfirmasi Pembayaran</h3>
          </div>
          <div class="value-pay">
            <h4 id="pay-total" class="total-pay">Informasi Rekening Bank</h4>
          </div>
          <div class="mini-container-2">
            <div id="inner-border">
              <img id="img-vector" src="/img/Vector.png" alt="vector-upload" style="margin-left: 46%" /><br />
              <input type="file" id="upload" hidden />
              <label class="mt-2" style="margin-left: 16%" id="text-upload-file" for="upload">Sentuh untuk upload</label>
            </div>
          </div>
          <div class="mb-4 mt-4">
            <label for="exampleInputEmail1" class="form-label">Transfer dari Bank</label>
            <select id="form-select" class="form-select input-color-primary" id="inputGroupSelect01">
              <option selected>Pilih Bank</option>
              <option value="1">Bank Negara Indonesia</option>
              <option value="2">Bank Mandiri</option>
              <option value="3">Bank Rakyat Indonesia</option>
              <option value="3">Bank Central Asia</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Nama Pemilik Rekening</label>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username" placeholder="Contoh: Alfarel Zaki" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">No. Rekening</label>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username" placeholder="Contoh: 123456789" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Jumlah yang ditransfer</label>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username" placeholder="Masukkan hanya nominal angka tanpa titik maupun koma" required />
          </div>
          <div class="d-grid gap-2">
            <button id="btn-proof-payment" class="btn mt-2" type="button">
              <p>Kirim Bukti Pembayaran</p>
            </button>
          </div>
        </div>
      </main>
      <script src="/public/javascripts/confirm-payment.js"></script>
    </body>
  </html>
</html>
