<!-- template buat di halaman request reset password -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Reset Password'}) %>
  <body>
    <header>
  <%- include('../partials/navbar.ejs') %>
  <%- include('login') %> 
   </header>   
   <form action="/api/v1/users/request-reset-password" method="POST">
      <div class="resetemail position-absolute top-50 start-50 translate-middle">
        <h5>Reset password</h5>
        <p>Masukkan email yang terdaftar. Kami akan mengirimkan tautan untuk mengatur ulang kata sandi anda.</p>
        <label for="email" class="form-pass">Email</label>
        <input type="text" class=" pass-control" name="email" id="email" placeholder="Masukan Email" />
        <button class="btn-pass " type="submit"><p>Kirim Email</p></button>
      </div>
      </form>
</body>
</html>