 <div class="container text-capitalize">
        <div id="stepProgressBar" class="mx-auto">
          <div id="step-prog" class="step">
            <div class="bullet" id="bullet1">1</div>
            <p id="prog-step-text" class="step-text">Tentukan Tema Acara</p>
          </div>
          <hr class="w-25">
          <div id="step-prog" class="step-mid">
            <div class="bullet" id="bullet2">2</div>
            <p id="prog-step-text" class="step-text-mid">Sewa alat dan talent</p>
          </div>
           <hr class="w-25">
          <div id="step-prog" class="step">
            <div class="bullet" id="bullet3">3</div>
            <p id="prog-step-text" class="step-text">
              Buat<br />
              Pesanan
            </p>
        </div>
    </div>
</div>

<script>
    const url     = window.location.href;
    const bulletActive = (values) => values.map((value) => document.getElementById(`bullet${value}`).classList.add("active")) 

    if(url.includes("/step/1")) bulletActive([1]);
    if(url.includes("/step/2")) bulletActive([1, 2]);
    if(url.includes("/step/3")) bulletActive([1, 2, 3]);
       
</script>