<div class="container-fluid" id="testimonial">
    <div class="row justify-content-center">
        <div class="col-11 py-5">
            <div class="row align-items-center">
                <div class="col-4  text-center text-white ">
                <p class="fs-36">
                    Apa yang mereka katakan pada kami?
                </p>
            </div>
            <div class="col-8">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row justify-content-center">
                                <div class="col-9">
                                    <div class="row">
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                        <div class="row justify-content-center">
                                <div class="col-9">
                                    <div class="row">
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row justify-content-center">
                                <div class="col-9">
                                    <div class="row">
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <h1 class="text-purple-main fs-16">Fakhri Zaki</h1>
                                                        <p class="fs-16">“Terima kasih (nama EO)! Rangkaian acara yang telah didiskusikan berhasil dijalankan dengan baik. Dukungan dari vendor-vendor pilihan juga turut menyukseskan acara.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
            </div>    
        </div>
        </div>
    </div>
</div>

