<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
<style>
  .row2{
        flex-wrap: nowrap !important;
    overflow: auto hidden !important;
    overflow-x: hidden !important;
    white-space: nowrap;
    transition: all 0.5s ease 0s !important;
    position: relative !important;
  
  }
 .test{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove;
  animation-duration: 2s;
}
 .test2{
   position: relative;
   width: 100px;
   height: 100px;
   background: red;
  display: inline-block;

  }
  .test3{
     display: inline-block;
   position: relative;
  width: 100px;
  height: 100px;
  background: red;
      transition: all 1s ease 0s;
     transform: translate(100%, 0%);
}
  .test4{
     display: inline-block;
   position: relative;
  width: 100px;
  height: 100px;
  background: red;
      transition: all 1s ease 0s;
     transform: translate(-50%, 0%);
}
.test-slide{
  transition: all 1s ease 0s;
  transform: translate(-100%, 0%);
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
.belajar{
    position: absolute;
    z-index: 2000;
    top: 60%;
    left: 2%;
    display: flex;
    width: 96%;
    justify-content: space-between;
}
.arrow-left{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: -48px;
    top: 100px;
}
.arrow-right{
    position: absolute;
    z-index: 2000;
    top: 0;
    right: -48px;
    top: 100px;
}
</style>
  <body class="p-0">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main>
      <p class="mt-5">test</p>
      <p class="mt-5 bg-purple-pressed">test</p>
       <!-- bry taruh sini -->
       <!-- faisal taruh sini -->
       <!-- steven taruh sini -->
       <!-- kusno taruh sini -->
       <form id="form" action="" method="post">
         <div class="form-check">
          <input class="form-check-input checkbox" type="checkbox"  id="check1" value="check1" name="check1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>
        </div>
         <div class="form-check">
          <input class="form-check-input checkbox" type="checkbox" value="check2" name="check2">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>
        </div>
         <div class="form-check">
          <input class="form-check-input checkbox" type="checkbox" value="check3" name="check3">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>
        </div>
         <div class="radioTest" >
           <div class="form-check">
          <input class="form-check-input radio" type="radio" name="test" value="test1" id="test1">
          <label class="form-check-label" for="test1">
            Default radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input radio" type="radio" name="test" value="test2" id="test2">
          <label class="form-check-label" for="test2">
            Default checked radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input radio" type="radio" name="test" value="test3" id="test3" checked>
          <label class="form-check-label" for="test3">
            Default checked radio
          </label>
        </div>
         </div>
        <input type="submit" value="tet" name="" id="">
       </form>

       <div class="test2" id="aa"></div>
       <div class="test2" id="aa2"></div>
       <button id="btnTest" type="button" class="mt-4">right</button>
       <button id="btnTest2" type="button" class="mt-4">left</button>
       <script>
         document.getElementById('btnTest').addEventListener("click",()=>{
           document.getElementById('aa').classList.remove("test2")
           document.getElementById('aa').classList.add("hidden")
           document.getElementById('aa2').classList.remove("test2")
           document.getElementById('aa2').classList.add("test3")
           console.log('masuk');
         })
         document.getElementById('btnTest2').addEventListener("click",()=>{
           document.getElementById('aa').classList.remove("test3")
           document.getElementById('aa').classList.add("test4")
           document.getElementById('aa2').classList.remove("test3")
           document.getElementById('aa2').classList.add("test4")
           console.log('masuk');
         })
       </script>

       <div class="container-fluid">
         <div class="row justify-content-center bg-neutral-20">
         <div class="col-11 bg-white text-center px-5 position-relative">
           <h1 class="text-capitalize text-neutral-100 fw-bold fs-24">tentukan tema acara</h1>
           <p class="text-neutral-60 text-start">Pilih tema acara</p>
           <div class="belajar">
                <button id="btnTestSlide2" class=" btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
                <button id="btnTestSlide" class=" btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
           </div>
           <div class="row2">
    <% for (let i = 1; i < 9; i++) {
      %>
       <div style="width: 20%; box-sizing: border-box;" class="slide-show-item px-2 d-inline-block <%= i === 1 ? "pivot": ""%>" id="card<%=i%>">
                <div class="card ">
                  <div class="card-header bg-white">
                    <div class="row">
                      <div class="col-10"><label for="test">Nasi Goreng <%=i%></label></div>
                      <div class="col-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="test" value="" aria-label="...">
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <img class="w-100" src="images/default/test.png" alt="">
                           <p class="w-100" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.</p>
                  </div>
                </div>
           </div>
      <%
    } %>
         
            
          </div>
         
       </div>
       </div>
        
       </div>

       <button  type="button">kiri</button>
       <button  type="button">kanan</button>
       <script>
           const dataId = document.querySelector('.pivot').id;
          const sortingId = parseInt(dataId.charAt(dataId.length - 1))
             if(sortingId === 1){
               document.getElementById('btnTestSlide2').style.visibility = 'hidden';
              }
              const dataLength = document.querySelectorAll(".slide-show-item").length 
              console.log(document.querySelectorAll(".slide-show-item").length % 5);

         document.getElementById('btnTestSlide').addEventListener('click', ()=>{
             const a = document.querySelector('.pivot').id;
          const getData = parseInt(a.charAt(a.length - 1))
          const perbandingan = dataLength % 5;
          const hitung = (getData  > perbandingan) ? perbandingan : getData;


          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`card${i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`card${i}`).style.transition = "all 1s ease 0s";
           }

           const rubah = getData+1;
           const rubah2 = perbandingan+1;
          
             if(getData  <= perbandingan){
               document.getElementById(a).classList.remove('pivot')
               document.getElementById(`card${rubah}`).classList.add('pivot')
             }
             if (rubah !== 1) {
              document.getElementById('btnTestSlide2').style.visibility = 'visible';
            }
             if (rubah === rubah2) {
              document.getElementById('btnTestSlide').style.visibility = 'hidden';
            }
          })
          
         document.getElementById('btnTestSlide2').addEventListener('click', ()=>{
             const a = document.querySelector('.pivot').id;
          const getData = parseInt(a.charAt(a.length - 1))
          const hitung =  getData - 2 ;
          const rubah = getData - 1;
          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`card${i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`card${i}`).style.transition = "all 1s ease 0s";
           }
             if(getData > 1){
               document.getElementById(a).classList.remove('pivot')
             document.getElementById(`card${rubah}`).classList.add('pivot')
             }
            if (rubah !== 1) {
              document.getElementById('btnTestSlide').style.visibility = 'visible';
            }
             if (rubah === 1) {
              document.getElementById('btnTestSlide2').style.visibility = 'hidden';
            }
          })
          
       </script>

     
    </main>
    <footer>
      <div id="footer">
        <div class="text-center pt-5 position-relative">
          <h1 class="fs-24 mb-3 pt-5 mt-4">Nama Web</h1>
          <p class="fs-16 pb-4">ini nanti diisi dengan tagline dari perusahaan event organizer</p>
          <div class="footer-icon my-5">
            <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24"><i class="bi bi-twitter"></i></a>
            <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24"><i class="bi bi-instagram"></i></a>
            <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24"><i class="bi bi-youtube"></i></a>
            <a class="cursor-pointer border border-2 rounded-circle p-2 mx-2 border-purple-main text-purple-pressed fs-24"><i class="bi bi-facebook"></i></a>
          </div>
          <div class="position-absolute bottom-0 text-center w-100 mb-3">
            <p class="text-neutral-10 ">&copy; 2022 Halloween. All Rights Reserved</p>
          </div>
            <img src="/images/default/imgFooter.png" class="w-100 mt-5" alt="">
        </div>
      </div>
    </footer>

    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
